{{ 'review-block.css' | asset_url | stylesheet_tag }}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <div class="your-review-container">
      <div class="avatar-wrap-review">
        <ion-chip>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg">
          <ion-label class="text" customer_id="{{ customer.id }}">{{ customer.email }}</ion-label>
        </ion-chip>
      </div>
      <form action="" id="add-review-form" method="POST" enctype="multipart/form-data" class="review-form">
        <div class="form-input">
          <div class="form-control">
            {% assign rating = 5 %}
            <label for="rating">Rating:</label>
            <span class="rating-list">
              {% comment %} <p class="text">Good!</p> {% endcomment %}
            </span>
          </div>

          <div class="form-control">
            <label for="image_url">Review Image:</label>
            <input type="file" id="image_url" name="image_url">
          </div>

          <div class="form-control">
            <label for="review">Review:</label>
            <textarea id="review" name="review" rows="4" placeholder="Enter your review"></textarea>
          </div>
        </div>
        <input type="submit" class="btn-submit" value="Write a review">
      </form>
    </div>
    <div class="reviews-list"></div>
    <script async src="{{ 'review.js' | asset_url }}" defer></script>
  {% else %}
    <span class="login-redirect">
      <p class="login-redirect-text">Login to add your review?</p>
      <a href="{{ routes.account_login_url }}" class="login-redirect-account">Login</a>
    </span>
    <div class="reviews-list"></div>
    <script async src="{{ 'review.js' | asset_url }}" defer></script>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Reviews Product",
  "target": "section",
  "settings": []
}
{% endschema %}
